/* 컨테이너 */
.footer_container {
    width: 60%;
    margin: 0 auto;
}

/* 푸터 설정 */
footer {
    margin: 0 auto;
}

.logo_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.logo_box a{
	width: 10%;
	margin:0 auto;
}

.logo_box2 {
    display: flex;
    justify-content: center;
    margin: auto 0;
}

.footer_icon {
    width: 120px;
    height: 50px;
    margin: 5px 0px;
    margin-right: 5px;
}

.logo_box2 img {
    width: 150px;
    display: inline;
}

.logo_box_item {
    margin: auto 0;
}

.footer_box2{
    display: flex;
    justify-content: space-around;
}